.assignment{
    background :darkseagreen ;
}
.test{
    background : mediumvioletred;
}
.reading{
    background : deepskyblue;
}
.show-complete{
    background : darkcyan;
}

.scrollable.nav {height:50%; width:100%;}
.scrollable.nav {overflow:hidden; overflow-y:scroll;}