/*http://paletton.com/#uid=74V0u0kiynZ8mBFdmtcnMiLtndb*/

.navbar {
    background-image: linear-gradient(#955998, #5F1961 20%, #7A357D);
    background-repeat: no-repeat;
    border-bottom: 1px solid #178ACC;
    filter: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-default{
    background-color :#7A3575;
    border-color: #7A3575 ;
}


.assignment{
    background : #A8B94E;
    color: white;
}

.assignment.panel-default > .panel-heading{
    background-color: #A8B94E;
    color: white;
}

.assignment.panel-default > .panel-collapse{
    background-color: #D2E183;
    color: #ffffff;
}

.assignment.panel-default > .panel-collapse  .well-sm{
    color: #363636;
}

.panel-group .panel + .panel{
    margin-top:0;
}

.test{
    background : #AA4767;
    color: white;
}

.test.panel-default > .panel-heading{
    background-color: #AA4767;
    color: white;
}

.test.panel-default > .panel-collapse{
    background-color: #CF7894;
    color: white;
}

.test.panel-default > .panel-collapse  .well-sm{
    color: #363636;
}

.reading{
    background : #76AB48;
    color: white;
}

.reading.panel-default > .panel-heading{
    background-color: #76AB48;
    color: white;
}

.reading.panel-default > .panel-collapse{
    background-color: #A2D079;
    color: white;
}

.reading.panel-default > .panel-collapse  .well-sm{
    color: #363636;
}
.show-complete{
    background : darkcyan;
    color: white;
}

.scrollable.nav {height:300px; width:100%;}
.scrollable.nav {overflow:hidden; overflow-y:scroll;}