.assignment{
    background : #3e9a3e;
    color: white;
}
.assignment.panel-default > .panel-heading{
    background-color: #3e9a3e;
    color: white;
}

.assignment.panel-default > .panel-collapse{
    background-color: #DDD;
    color: black;
}

.panel-group .panel + .panel{
    margin-top:0;
}

.test{
    background : #9b156e;
    color: white;
}

.test.panel-default > .panel-heading{
    background-color: #9b156e;
    color: white;
}

.test.panel-default > .panel-collapse{
    background-color: #DDD;
    color: black;
}


.reading{
    background : #00759d;
    color: white;
}

.reading.panel-default > .panel-heading{
    background-color: #00759d;
    color: white;
}

.reading.panel-default > .panel-collapse{
    background-color: #DDD;
    color: black;
}

.show-complete{
    background : darkcyan;
    color: white;
}

.scrollable.nav {height:300px; width:100%;}
.scrollable.nav {overflow:hidden; overflow-y:scroll;}