<script type="text/ng-template" id="course_modal.html">
    <div class="modal-header">
        <h3 class="modal-title"> {{ course.code }}: Is this your course?</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ course.professor }}</h1>
                <h1>{{ course.name }} <small>Section: {{course.section}}</small></h1>
                <h1>{{ course.year }} <small>{{course.semester}}</small></h1>
                <p>{{ course.description }}</p>
            </div>
        </div>
        <div ng-include="src='views/master_tasks.html'"></div>

        <div class="modal-footer">
            <button ng-class="loaded? 'btn btn-primary' : 'btn btn-primary disabled'" ng-click="ok()">Enroll</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
