<script type="text/ng-template" id="edit_task.html">
    <div class="modal-header">
        <h3 class="modal-title">Change the Task</h3>
    </div>
    <div class="modal-body">
            <form class="form">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="type">Type:</label>
                            <select id="type" class="form-control" ng-model="task.type" ng-options="type for type in types" required></select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="course">Course:</label>
                            <select id ="course"  class="form-control" ng-model="task.id_course" ng-options="course.id as (course.code + ' '+ course.section) for course in courses" required></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title">Task Title:</label>
                    <input type="text" class="form-control" id="title" ng-model="task.title" placeholder="Task Title" required>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="due_date">When is it due?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="task.due_date"
                                   is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close" id="due_date"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>

                    </div>
                    <div class="col-xs-2">
                        <label for="in_class">In Class</label>
                        <input id="in_class" class="form-control checkbox" type="checkbox" ng-model="task.in_class">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-4">
                        <timepicker ng-show="!task.in_class" id="due_time" ng-model="task.due_time" ng-change="changed()"
                                    hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
                        </timepicker>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pages">What are you to read?</label>
                    <input type="text" class="form-control" id="pages" ng-model="task.pages" placeholder="Reading Contents">
                </div>

                <div class="form-group">
                    <label for="description">Describe the task</label>
                    <textarea class="form-control" id="description" ng-model="task.description" placeholder="Description" rows="4"></textarea>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <label for="weight">Weight:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="weight" ng-model="task.weight" placeholder="Weight">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <label for="url">Url for more info?</label>
                            <input type="text" class="form-control" id="url" ng-model="task.url" placeholder="Url">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="location" ng-model="task.location" placeholder="Location to Hand-in or Write">
                        </div>
                    </div>
                  </div>
            </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
