<div ng-controller="EnrollCtrl">
    <div ng-include="src='views/course_modal.html'"></div>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                    <h1>Enroll in a course.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div ng-hide="success==null" ng-class="success ? 'alert alert-success' : 'alert alert-warning'" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <form class="form">
                    <div class="form-group">
                        <label for="school" class="control-label">Please Select a school</label>
                        <select id ="school"  class="form-control" ng-model="id_school" ng-options="school.id as (school.name) for school in schools" required></select>
                    </div>
                    <div class="form-group" ng-show="id_school">
                        <label for="year" class="control-label">What year is this course for?</label>
                        <select id ="year"  class="form-control" ng-model="year" ng-options="year for year in years" required></select>
                    </div>
                    <div class="form-group" ng-show="year">
                        <label for="semester" class="control-label">What semester is this course in?</label>
                        <select id ="semester"  class="form-control" ng-model="semester" ng-options="semester for semester in semesters" required></select>
                    </div>
                    <div class="form-group" ng-show="semester">
                        <label for="course_name" class="control-label">What course</label>
                        <select id ="course_name"  class="form-control" ng-model="course_name" ng-options="name for name in course_names" required></select>
                    </div>
                    <div class="form-group" ng-show="course_name">
                        <label for="section" class="control-label">What section</label>
                        <select id ="section"  class="form-control" ng-model="section" ng-options="section for section in sections" required></select>
                    </div>
                    <button class="btn btn-primary pull-right" ng-show="section" ng-click="open(course,'lg')">Confirm Course</button>
                </form>
            </div>
        </div>
    </div>
</div>