<div ng-controller="HomeCtrl">
    <div class="container container-fluid" >
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>Welcome to Taskminder</h1>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="login">Email address</label>
                                <input type="email" class="form-control" id="login" ng-model="user.login" placeholder="Enter email" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required>
                            </div>
                            <button type="submit" class="btn btn-default pull-right" ng-click="login(user)">Sign In</button>
                        </form>
                        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Taskminder is for organizing all your school tasks.
            </div>
        </div>

    </div>
</div>
