<div ng-controller="HomeCtrl">
    <div role="main">
        <header class="bs-header welcome background" id="welcome">
            <div class="container container-fluid">
                <div class="row">
                    <div class="col-xs-6" ng-class="isLoggedIn ? 'col-xs-offset-3' : '' ">
                        <div class="arrow_box center-block text-center">
                            <p>Hoot Hoot, I'm Gylfie!<br>
                                Welcome to TaskOwl</p>
                        </div>
                        <img src="assets/img/SayHigh-Gylfie.png" height="100%" width="100%"/>
                    </div>
                    <div class="col-xs-6" ng-hide="isLoggedIn">
                        <div  class="light-robot">A linear view of what to do</div>
                        <div class="fade-box">
                            <form class="form-inline fade-box" enctype="application/x-www-form-urlencoded">
                                <div class="{{ success }}">
                                    <div class="form-group">
                                        <label for="login" class="control-label">Email: </label>
                                        <input type="email" class="form-control input-sm" id="login" ng-model="user.login" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label">Password:</label>
                                        <input type="password" class="form-control input-sm" id="password" ng-model="user.password" required>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm" ng-click="login(user)">Login</button>
                                </div>
                            </form>
                        </div>
                        <p class="text-right bold-robot">Need an account? <a href="#/signup">Register here</a> in seconds.</p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>


