<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed" ng-show="loaded && tasks.length >0">
            <thead>
            <tr>
                <th>Due Date</th>
                <th>Due Time</th>
                <th>Title</th>
                <th>Include</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks | orderBy:'due_date'" class="{{ task.type.toLowerCase() }}" ng-cloak>
                <td>
                    {{ task.due_date | date : "mediumDate" }}
                </td>
                <td ng-if="task.in_class">
                    In class
                </td>
                <td ng-if="!task.in_class">
                    {{ task.due_time | date : "h:mm a"}}
                </td>
                <td>
                    {{ task.title }}
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="heep" id="keep" ng-model="task.keep"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>





