<div ng-controller="TaskTableCtrl">

    <div class="container container-fluid" >

        <div class="row" ng-hide="loaded" ng-cloak="">
            <div class="col-md-1 col-md-offset-5">
                <i class="fa fa-spinner fa-pulse fa-5x"></i>
            </div>
        </div>
        <div class="row" ng-show="loaded&&tasks.length==0" ng-cloak="">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Hello, {{username}}!</h1>
                    <p>You have not added any tasks.</p>
                    <p><button class="btn btn-primary btn-lg" ng-click="openModal(null, 'Create')" role="button">Add Tasks</button></p>
                </div>
            </div>
        </div>
        <div ng-include="src='views/edit_task.html'"></div>
        <div ng-hide="success==null" ng-class="success ? 'alert alert-dismissible alert-success' :'alert alert-dismissible alert-warning' " role="alert">
            {{message}}
            <button ng-show="success" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div id="table" ng-show="tasks.length>0&&loaded" ng-cloak="">
            <div class="row">
                <div class="col-xs-11">
                    <b>Toggle: </b>
                    <div class="btn-group">
                        <button ng-model="show.assignment" class="btn assignment" btn-checkbox>Assignments</button>
                        <button ng-model="show.test" class="btn test"  btn-checkbox>Tests</button>
                        <button ng-model="show.reading" class="btn reading" btn-checkbox>Readings</button>
                        <button ng-model="show.presentation" class="btn presentation"  btn-checkbox>Presentations</button>
                        <button ng-model="show.meeting" class="btn meeting" btn-checkbox>Meetings</button>
                        <button ng-model="show.misc" class="btn misc"  btn-checkbox>Misc</button>
                        <button ng-model="show.show_all" class="btn show-complete" btn-checkbox>Completed</button>
                    </div>
                </div>
                <div class="col-xs-1">
                    <i class="fa fa-plus-circle fa-3x pull-right" ng-click="openModal(null, 'Create')" tooltip="Add Task"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-1">
                            <h4>Course</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>Title</h4>
                        </div>
                        <div class="col-xs-2">
                            <h4>Date</h4>
                        </div>
                        <div class="col-xs-1">
                            <h4>Time</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>Location</h4>
                        </div>
                        <div class="col-xs-1">
                            <h4>Done</h4>
                        </div>
                        <div class="col-xs-1">
                            <h4>More</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <accordion>
                        <accordion-group ng-repeat="task in tasks | orderBy:'due_date'" class=" row {{ task.type.toLowerCase() }}" ng-show="(task.complete ? show.show_all : true) && showTask(task.type)">
                            <accordion-heading>
                                <div class="row">
                                    <div class="col-xs-1">
                                        {{ getCourseCode(task.id_course) }}
                                    </div>
                                    <div class="col-xs-3">
                                        {{ task.title }}
                                    </div>
                                    <div class="col-xs-2">
                                        {{ task.due_date | date : "mediumDate" }}
                                    </div>
                                    <div class="col-xs-1" ng-if="task.in_class">
                                        In class
                                    </div>
                                    <div class="col-xs-1" ng-if="!task.in_class">
                                        {{ task.due_time | date : "h:mm a"}}
                                    </div>
                                    <div class="col-xs-3">
                                        {{ task.location }}
                                    </div>
                                    <div class="col-xs-1">
                                        <i ng-hide="task.complete" class="fa fa-square-o" ng-click="completeTask(task)" tooltip="Mark task as completed"></i>
                                        <i ng-show="task.complete" class="fa fa-check-square-o" ng-click="completeTask(task)"></i>
                                        <i class="fa fa-pencil-square-o" ng-click="openModal(task, 'Edit')" tooltip="Edit Task." ></i>
                                        <i class="fa fa-trash-o" ng-click="deleteTask(task);" tooltip="Delete task"></i>

                                    </div>
                                    <div class="col-xs-1">
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </div>
                                </div>
                            </accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    <pre ng-hide="task.description==null||task.description==''">{{ task.description }}</pre>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="well well-sm" ng-hide="(task.pages==''||task.pages==null) && (task.url==null) && (task.weight==null)">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div ng-hide="task.pages==''||task.pages==null"> <b>Pages:</b> {{ task.pages }}</div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div ng-hide="task.url == null"> <b>Url:</b> <a href="{{ task.url }}">{{ task.url }}</a></div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div ng-hide="task.weight == null"> <b>Weight:</b> {{ task.weight }}%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </accordion-group>

                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>
