<div ng-controller="TaskTableCtrl">


    <div class="container container-fluid" >


        <div class="row">
            <div class="col-md-3">
                <button class="btn assignment">Toggle Assignments</button>
            </div>
            <div class="col-md-3">
                <button class="btn test">Toggle Tests</button>
            </div>
            <div class="col-md-3">
                <button class="btn reading">Toggle Readings</button>
            </div>
            <div class="col-md-3">
                <button class="btn show-complete">Toggle Completed</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks" class="{{ task.type }}">
                            <td>{{ task.course_code }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.due_date_time }}</td>
                            <td>
                                <input class="checkbox" type="checkbox"  aria-label="..." ng-checked="task.completed">
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
